@use "../abstracts" as *;

.motivation {
  width: 100vw;
  min-height: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2rem;
  position: relative;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
}
.motivation__article {
  width: 25ch;
  align-self: center;
  margin-left: 16rem;
}
.motivation__img {
  position: relative;
}
.motivation__text {
  justify-self: end;
  padding-top: 0.8rem;
}
.motivation__img-container {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  &--back {
    width: 50vw;
    height: 31.5vw;
    position: relative;
    background-image: url("../assets/img/pexels-simon-migaj-747964.jpg");
  }
  &--middle {
    width: 22vw;
    height: 33vw;
    position: absolute;
    top: 25%;
    right: 25%;
    background-image: url("../assets/img/pexels-jaime-reimer-2662086.jpg");
  }
  &--front {
    width: 16vw;
    height: 21.8vw;
    position: absolute;
    top: 40%;
    right: 75%;
    background-image: url("../assets/img/pexels-jacub-gomez-1152043.jpg");
  }
  &--front,
  &--middle,
  &--back {
    transition: transform 0.3s ease-in-out;
    &:hover {
      border: 0.7rem solid transparent;
      box-shadow: 0 0 0 0.4rem $accent-color;
      z-index: 2;
      transform: scale(1.2);
    }
  }
}
