@use "../abstracts" as *;

.nav__item {
  list-style-type: none;
  display: block;
  float: left;
  font-size: 1.5rem;
  @media (max-width: $screen-s) {
    display: none;
  }

  &--menu {
    float: right;
    font-size: 3.5rem;
    @media (max-width: $screen-s) {
      display: block;
      font-size: 2rem;
    }
    @media (max-width: $screen-xs) {
      font-size: 1.5rem;
    }
  }

  &--logo {
    font-size: 3.5rem;
    margin-top: 0;
    padding-right: 1em;
    @media (max-width: $screen-s) {
      display: block;
    }
    @media (max-width: $screen-xs) {
      font-size: 1.5rem;
    }
  }
}

.nav__item-link {
  color: white;
  text-shadow: 0 0 0.6rem black;
  text-decoration: none;
  padding: 0.5rem 0.25rem 0.25rem 0.25rem;
  margin-top: 2rem;
  margin-inline: 2rem;
  display: block;
  @media (max-width: $screen-l) {
    margin-inline: 0.8rem;
  }
  @media (max-width: $screen-m) {
    margin-inline: 0.3rem;
  }
  &:hover {
    border-bottom: 0.15rem solid $accent-color;
  }
  .nav__item--menu &,
  .nav__item--logo & {
    margin-top: 0.6rem;
    &:hover {
      border-bottom: none;
      color: red;
    }
  }
  /*&--logo:hover {
    border-bottom: none;
    color: red;
  }*/
}
