/** Breakpoints */
$screen-xl: 120em !default; /* 1920px oder schmaler */
$screen-l: 90em !default; /* 1440px oder schmaler */
$screen-ml: 75em !default; /* 1200px oder schmaler */
$screen-ms: 63em !default; /* 1000px oder schmaler*/
$screen-m: 48em !default; /*768px oder schmaler */
$screen-s: 36em !default; /* 580px oder schmaler */
$screen-xs: 25em !default; /* 400px oder schmaler */

@media (max-width: $screen-xl) {
}
@media (max-width: $screen-l) {
}
@media (max-width: $screen-m) {
}
@media (max-width: $screen-s) {
}
@media (max-width: $screen-xs) {
}

$accent-color: rgb(0, 226, 156) !default;
$text-color: hsl(191, 34%, 23%) !default;
$text-color-light: hsl(191, 34%, 43%) !default;
$background-color: #011820 !default;
