/* Fonts *********************************************************** */
@font-face {
  font-family: "Jost";
  src: url(../assets/fonts/Jost-VariableFont_wght.woff2);
  font-weight: 100 900;
}

/*@font-face {
  font-family: "Jost--bold";
  src: url(../assets/fonts/Jost-VariableFont_wght.woff2);
  font-weight: 700;
}*/
